@import "./variable.scss";
html{
	height: 100%;
}

body{
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	background-color: #ecefff;
}

#app{
	//根
	position: relative;
	max-width: 750px;
	background-color:#fff;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	height: 99.7%;
}

#bottomBar{
	    position: fixed;
	    bottom: 0;
	    max-width: 750px;
	    margin: 0 auto;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	overflow: hidden;
	clear: both;
	display: block;
	content: "";
	visibility: hidden;
	height:0;
}